{% load static %}
{% load ogra %}
<html>
    <head>
        <title>Django ogra - example</title>
        <script type="text/javascript" src='{% static "javascripts/ogra/ogra.js" %}'></script>
        {{ charts|ogra_charts }}
    </head>
    <body>
        <h1>Backends</h1>
        <a href='?backend=raphael'>Raphael</a>
        <a href='?backend=high'>Highcharts</a>
        <a href='?backend=google'>Google</a>
        <a href='?backend=dygraphs'>Dygraphs</a>
        <a href='?backend=flot'>Flot</a>
        <h1>Pie Chart</h1>
        <div id='{{ charts.0.dom_id }}'></div>
        <h1>Bar Chart</h1>
        <div id='{{ charts.1.dom_id }}'></div>
        <h1>Line Chart</h1>
        <div id='{{ charts.2.dom_id }}'></div>
    </body>
</html>
